.box {
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 4px;
  margin-bottom: 5px;
  cursor: pointer;

  &.selected {
  }
}

.details {
  display: flex;
}

.details-left {
}

.details-right {
  display: flex;
  flex-grow: 1;
  justify-content: right;
  align-items: center;
}

.top-controls-container {
  display: none;

  .delete-button {
    float: right;
  }

  &.selected {
    display: block;
  }
}
