.box {
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 4px;
  margin-bottom: 5px;
  cursor: pointer;

  border-radius: 21px;
  &.selected {
  }
}

.details-options {
  display: flex;
  flex-direction: row;

  .delete-button {
    justify-self: right;
  }

  .highlight-title {
    flex-grow: 1;
  }
}

.details-relations {
  display: flex;

  .relations-right {
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex-grow: 1;
    justify-content: right;
    align-items: flex-end;

    .relations {
      display: flex;
      flex-direction: column;
      gap: 3px;

      .relation {
        display: flex;
      }
    }

    .linker {
      max-width: 200px;
    }
  }
}

.top-controls-container {
  display: flex;
  flex-direction: column;
}
