@import '../../styles/vars.less';

.highlight-tag-wrapper {
  display: flex;
  min-width: 0;

  .highlight-tag {
    display: flex;
    text-wrap: nowrap;
    overflow: hidden;

    &.shadowed {
      box-shadow: @box_shadow_primary;
    }
  }
}