.diptych-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  top: 0;
  bottom: 0;
}

.header-container {
  padding-top: 18px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 270px;
  gap: 20px;
}

.column-1 {
  padding-top: 18px;
  position: relative;
  flex: 1;
  min-width: 700px;
}

.column-2 {
  padding-top: 18px;
  position: relative;
  flex: 1;
  min-width: 700px;
}
