@import "../../styles/colors.less";
@import "../../styles/fonts.less";

.toggle-style-button {
  color: @N9;
  font-family: @font-controls-1;
  background: none;
  border: 1px solid @N9;
  height: 40px;
  width: 40px;
  cursor: pointer;

  &:hover {
    color: @N5;
    border: 1px solid @N5;
  }

  &.enabled {
    color: @N7;
    border: 1px solid @N7;
  }
}