@import "../../styles/colors.less";
@import "../../styles/fonts.less";

.toggle-style-button {
  height: 40px;
  width: 40px;

  &.enabled {
    color: @paper-3;
    border: 1px solid @paper-3;
  }
}
