@import '../../styles/vars.less';

.comment-blurb-wrapper {
  opacity: 0.65;
  
  &.expanded {
    opacity: unset;
  }
}

.blurb-content {
  display: flex;
  flex-direction: column;
  border-left: 2px solid;

  .blurb-header {
    display: flex;
    flex-direction: row;
    gap: @grid_x_1;
  }

  .blurb-body {
    padding-left: @grid_x_1;

    &:not(.expanded) {
      opacity: @opacity_collapsed;
      cursor: pointer;
    }
  }

  .blurb-footer {
    padding-left: @grid_x_1;
  }
}