@import '../../styles/vars.less';

.comment-blurb-wrapper {
  opacity: 0.65;
  
  &.expanded {
    opacity: unset;
  }
}

.blurb-content {
  display: flex;
  flex-direction: column;

  .blurb-header {
    display: flex;
    flex-direction: row;
    gap: @grid_x_1;
    align-items: center;
    height: @grid_x_3;
  }
}