.box {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  cursor: pointer;

  &:not(:last-child) {
    border-bottom: 1px solid rgba(170, 170, 170, 0.5);
  }

  &.selected {
    outline: 1px solid rgba(170, 170, 170, 0.5);
  }

  &:hover {
    outline: 1px solid rgba(170, 170, 170, 0.5);
  }
}

.excerpt {
}

.details-options {
  display: flex;
  flex-direction: row;

  .delete-button {
    justify-self: right;
  }

  .highlight-title {
    flex-grow: 1;
  }
}

.details-relations {
  display: flex;

  .relations-right {
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex-grow: 1;
    justify-content: right;
    align-items: flex-end;

    .relations {
      display: flex;
      flex-direction: column;
      gap: 3px;

      .relation {
        display: flex;
      }
    }

    .linker {
      max-width: 200px;
    }
  }
}

.top-controls-container {
  display: flex;
  flex-direction: column;
}
