.box {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;

  &:not(:last-child) {
    border-bottom: 1px solid rgba(170, 170, 170, 0.5);
  }

  &.selected {
    background-color: rgba(170, 170, 170, 0.1);
    outline: 1px solid rgba(170, 170, 170, 0.5);
  }

  &:hover {
    background-color: rgba(170, 170, 170, 0.1);
    outline: 1px solid rgba(170, 170, 170, 0.5);
  }
}

.excerpt {
}

.details-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .delete-button {
    justify-self: right;
  }

  .highlight-title {
    flex-grow: 1;
  }

  .left-aligned {
    align-items: center;
    display: flex;
    gap: 2px;
  }

  .right-aligned {
    display: flex;
    gap: 2px;
  }
}

.details-relations {
  display: flex;

  .relations-right {
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex-grow: 1;
    justify-content: right;
    align-items: flex-end;

    .relations {
      display: flex;
      flex-direction: column;
      gap: 3px;

      .predicate-group {
        display: flex;

        .predicate-relations {
          display: flex;
          flex-wrap: wrap;
          gap: 2px;
        }
      }
    }

    .autocomplete-row {
      width: 100%;
      text-align: right;

      .assign-arc-autocomplete {
        // If needed
      }
    }
  }
}

.top-controls-container {
  display: flex;
  flex-direction: column;
  padding: 3px;

  .unselected-info-header {
    display: flex;
    height: 28px;
  }
}

.bottom-controls-container {
  display: flex;
  flex-direction: column;
  padding: 3px;
}
