@import '../../styles/vars.less';

.highlights-drawer {
  .highlight-results {
    margin: @grid_x_1;
    display: flex;
  
    .day-group {
      display: flex;
      flex-direction: column;
      gap: @grid_x_1;
    }
  }
}