@import '../../styles/vars.less';

.highlights-drawer {
  overflow-y: hidden;
  display: flex;
  flex-direction: column;

  .highlight-results {
    overflow-y: scroll;
    padding: @grid_x_1;
    display: flex;
  
    .day-group {
      display: flex;
      flex-direction: column;
      gap: @grid_x_1;
    }
  }
}