@import '../../styles/vars.less';

.relations-table {
  display: flex;
  flex-direction: column;
  gap: @grid_x_0_5;

  &.collapsed {
    flex-direction: row;
  }

  .predicate-row {
    display: flex;
    align-items: center;
    gap: @grid_x_0_5;

    &.or-row {
      margin-left: @grid_x_1;
    }
  }

  .link-button {
    display: flex;
    max-height: 22px;
    font-size: @font_size_x_small;
  }
}