@import "../../styles/fonts.less";
@import "../../styles/colors.less";

.tile {
  font-family: @font-controls-2;
  color: @paper-5;
  display: flex;
  height: 30px;

  a {
    display: flex;
    width: 100%;
  }

  p {
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
  }

  &.in-selected-range {
    background-color: @paper-9;
    box-shadow: rgba(0, 0, 0, 0.25) 2px 2px 0px 0px;
  }
}
