.view-journal {
  position: relative;
}

.fixed-width-interior {
  position: relative;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.diptych {
  display: grid;
  grid-template-columns: 200px auto;
}

.column-1 {
}

.column-2 {
}