@import '../../styles/vars.less';

.highlight-page-wrapper {
  border: @border_thin;
}

.highlight-page-content {
  background-color: white;
}

hr {
  width: 100%;
  border: none;
  border-top: @border_dash;
}

.page-section {
  padding: @grid_x_1;
  width: 100%;
}

.comments-section {
  width: 100%;
}