@import '../../styles/vars.less';

.highlight-page-wrapper {
  border: @border_thin;
}

.highlight-page-content {
  background-color: white;
}

hr {
  width: 100%;
  border: none;
  border-top: @border_dash;
}

.page-section {
  padding: @grid_x_1;
  width: 100%;

  .action-buttons {
    display: flex;
    margin-bottom: @grid_x_1;
    gap: @grid_x_1;

    .vertical-divider {
      width: 1.5px;
      background-color: @grey700;
    }
  }
}

.comments-section {
  width: 100%;
}