/* Second classname is for legacy purposes. */
.ipsum-highlight, .HighlightAssignmentPlugin__highlight___ztR5x {
  background-color: hsla(var(--hue), 90%, var(--lightness), 0.05);
  box-shadow: 0 2px 0 0 hsla(var(--hue), 90%, var(--lightness), 0.35);

  &.hovered {
    background-color: hsla(var(--hue), 90%, var(--lightness), 0.2);
  }
}

.ipsum-excerpt :first-child {
  margin-block-start: 0 !important;
}

.ipsum-excerpt :last-child {
  margin-block-end: 0 !important;
}