// Font family
@font_family_heading: 'Amstelvar';
@font_family_body: 'Roboto';
@font_family_caption: 'Roboto';

@font_weight_light: 300;

// Colors
@grey500: #d9d9d9;
@grey600: #bfbfbf;
@grey700: #8c8c8c;
@grey800: #595959;
@grey900: #262626;
