.highlight-detail {
  flex-grow: 1;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;

  .excerpt-section {
    margin-top: 8px;
  }

  .relations-section {
    margin-top: 8px;
  }

  .comments-section {
    display: flex;
    flex-direction: column;
  }
}
