@import '../../styles/vars.less';

.arc-tag {
  display: inline-flex;
  box-shadow: @box_shadow_primary;
  text-wrap: nowrap;

  &.visible-icons {
    padding-right: @grid_x_0_5;
  }

  .link-button {
    font-family: @font_family_serif;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 2px;
    padding-right: 2px;
  }

  .arc-tag-items {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: @grid_x_0_5;
  }
}