@import '../../styles/vars.less';

.arc-tag {
  display: inline-flex;
  box-shadow: @box_shadow_primary;
  text-wrap: nowrap;
  padding-right: @grid_x_0_5;

  .arc-tag-items {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: @grid_x_0_5;

    .link-button {
      font-family: @font_family_serif;
    }
  }
}