@import "../../styles/colors.less";

.arc-token-p {
  margin: 0;
}

.arc-token-a {
  text-decoration: none !important;

  &:hover {
    text-decoration: underline !important;
  }
}

.arc-token-span {
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  padding-left: 4px;
  padding-right: 4px;
}
