.digest {
  margin-left: 10px;
  background-color: black;
  max-width: 200px;
}

.digest-for-entry {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 200px;
}
