@import '../../styles/vars.less';

.journal-view {
  background-color: @grey300;
  width: 100%;
  height: 100%;
  display: flex;

  .pages-section-container {
    flex-grow: 1;

    display: flex;
    justify-content: center;

    .pages-section {
      margin: @grid_x_1;
      flex-grow: 1;
    }
  }
}