@import '../../styles/vars.less';

.excerpt {
  .truncate {
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: @grid_x_1;
  }
}