@import "../../styles/mixins.less";

.daily-journal {
  position: absolute;
  overflow: hidden;
  min-height: 500px;
  bottom: 0;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  border-radius: 20px;
  background: linear-gradient(225deg, #e6e6e6, #ffffff);
  box-shadow: -20px 20px 60px #d9d9d9, 20px -20px 60px #ffffff;

  .daily-journal-scroller {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 3px;
    margin-left: 20px;
  }
}
