@import "../../styles/mixins.less";

.daily-journal {
  position: absolute;
  overflow: hidden;
  min-height: 500px;
  bottom: 0;
  top: 0;
  width: 100%;
  box-sizing: border-box;

  .daily-journal-scroller {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 3px;
    margin-left: 20px;
  }
}

.past-entries {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;

  .load-more-button {
    align-self: center;
  }
}
