.journal-entry {
  display: flex;
  gap: 15px;
  flex-direction: row;
  font-family: "Source Serif Pro", serif;
  font-size: 12pt;
  position: relative;
  margin-top: 24px;

  .entry-text-vertical {
    display: flex;
    flex-direction: column;
    width: 512px;

    h4 {
      margin-bottom: 10px;
      font-weight: normal;

      &:not(.editor-header-one) {
        cursor: pointer;
      }
    }
  }

  .divider-container {
    padding-top: 15px;
  }

  .digest-wrapper {
  }
}
