@import "./../../styles/fonts.less";
@import "./../../styles/colors.less";

.journal-entry {
  color: @paper-3;
  font-family: @font-entry-1;

  h1 {
    cursor: pointer;

    &.empty-entry {
      color: @paper-7;
    }
  }

  .editor-paragraph {
    line-height: 1.5;

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}
