.journal-entry {
  font-family: "Source Serif Pro", serif;
  font-size: 12pt;
  position: relative;
  margin-bottom: 24px;

  h4 {
    margin-bottom: 10px;
    font-weight: normal;

    &:not(.editor-header-one) {
      cursor: pointer;
    }
  }

  .divider-container {
    padding-top: 15px;
  }

  .editor-block {
    z-index: 1;

    &.editor-paragraph {
      line-height: 1.5;

      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }

    &.editor-header-one {
      font-size: 16pt;
      font-weight: bold;
    }
  }

  .digest-wrapper {
    position: absolute;
    top: 0;
    right: 0;
  }
}
