@import "../../styles/vars.less";

.blurb-wrapper {
  display: flex;
  flex-direction: row;

  .selected {
    border-left: 2px solid @grey800;
    background-color: @grey300;
  }

  .collapse-column {
    display: flex;
    flex-direction: column;
    align-items: center;

    .collapse-button {
      width: @grid_x_3;
      height: @grid_x_3;

      .button-icon {
        transition: transform @transition_speed_fast @transition_interp_fast;
        transform: rotate(0deg);

        &.expanded {
          transform: rotate(90deg);
        }
      }
    }

    .button-icon {
      color: @grey700;
    }

    .collapse-bar {
      background-color: @grey700;
      width: 2px;
      flex-grow: 1;
    }
  }

  .content {
    margin-left: @grid_x_1;
  }
}